<div class="container-fluid m-2">
  <div class="my-card">
    <div class="my-card-header ">
      <span class="">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg>
        Modification Candidat
      </span>
      <a routerLink="/admin/gestion-candidats" class="float-end btn btn-outline-success bg-light text-success border-3">
        &lAarr; Retour
      </a>
    </div>
    <div class="my-card-body">
      <div class="bg-secondary-subtle p-3">

        <div class="my-card">
          <div class="my-card-header">
            <h5>Données du candidat</h5>
          </div>
          <div class="my-card-body bg-light">

            <h4 class="justify-content-center align-items-center m-auto text-center" *ngIf="!candidateData">
              En attente de la recherche.
            </h4>
            <table *ngIf="candidateData" class="table table-striped">
              <th class="text-end">
                <tr>N° CNI</tr>
                <tr>N° Electeur</tr>
                <tr>Nom</tr>
                <tr>Prénom</tr>
                <tr>Sexe</tr>
                <tr>Date de Naissance</tr>
                <tr>Lieu de Naissance</tr>
                <tr>Adresse</tr>
              </th>
              <td>
                <tr>{{candidateData.cniNumber}}</tr>
                <tr>{{candidateData.electorNumber}}</tr>
                <tr>{{candidateData.lastname}}</tr>
                <tr>{{candidateData.firstname}}</tr>
                <tr>
                  @if (candidateData.sex==0){
                    Féminin
                  } @else {
                    Masculin
                  }
                </tr>
                <tr>{{candidateData.birthDate}}</tr>
                <tr>{{candidateData.birthPlace}}</tr>
                <tr>{{candidateData.address}}</tr>

              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="my-card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-6 p-3">
            <label class="form-label">Image</label>
            <div class="text-danger fw-bold" *ngIf="form.controls.image.invalid">L'image est requise et doit être de type png ou jpg.</div>
            <img width="70px" src="{{storageUrl+old_img}}" alt="">
            <input type="file" formControlName="image"  class="form-control" (change)="imageChange($event)" [ngClass]="form.controls.image.invalid?'is-invalid':'is-valid'">
          </div>
          <div class="form-group col-6 p-3">
            <label class="form-label">Parti ou Coalition</label>
            <div class="text-danger fw-bold" *ngIf="form.controls.party_or_coalition_id.invalid">Le parti ou la coalition est requis(e).</div>
            <select class="form-select" formControlName="party_or_coalition_id"  [ngClass]="form.controls.party_or_coalition_id.invalid?'is-invalid':'is-valid'">
              <option value="null" disabled>Choisir un parti ou une coalition</option>
              <option class="form-select" *ngFor="let party of parties" value="{{party.id}}">{{party.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group p-3">
          <label class="form-label">Biographie</label>
          <div class="text-danger fw-bold" *ngIf="form.controls.biography.invalid">La biographie est requise.</div>
          <textarea type="text" formControlName="biography" class="form-control" [ngClass]="form.controls.biography.invalid?'is-invalid':'is-valid'"></textarea>
        </div>
        <div class="form-group p-3">
          <label class="form-label">Mot de la campagne</label>
          <textarea type="text" formControlName="campaignWord" class="form-control" [ngClass]="form.controls.campaignWord.invalid?'is-invalid':'is-valid'"></textarea>
          <div class="text-danger fw-bold" *ngIf="form.controls.campaignWord.invalid">Le mot de la campagne est requis.</div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn-edit" [disabled]="form.invalid">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EAC452"><path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/></svg>
            Valider
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
