
  <div class="  text-white ">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <img src="assets/LogoDge.jpg" alt="Logo_DGE" width="160px">
    </a>
    <hr>
    <ul class="nav nav-pills ">
      <li>
        <a routerLink="/admin" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-systemes" class="nav-link text-white">
          Gestion du Système
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-comptes" class="nav-link text-white">
          Gestion des Comptes
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-admin" class="nav-link text-white">
          Gestion des Membres de la DGE
        </a>
      </li>
      <li>
        <a routerLink="#" class="nav-link text-white">
          Gestion des Priviléges
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-candidats" class="nav-link text-white">
          Gestion des Candidats
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-partis-coalitions" class="nav-link text-white">
          Gestion des Partis ou Coalitions
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-electeurs" class="nav-link text-white">
          Gestion des Electeurs
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-bureaux-de-votes" class="nav-link text-white">
          Gestion des Bureaux de Votes et des Localités
        </a>
      </li>
      <li>
        <a routerLink="#" class="nav-link text-white">
          Gestion des Parrainages
        </a>
      </li>
      <li>
        <a routerLink="#" class="nav-link text-white">
          Gestion des Elections
        </a>
      </li>
    </ul>
    <hr>
    <!--<div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>-->
  </div>
