
  <div class="  text-white" >
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <img src="assets/LogoDge.jpg" alt="Logo_DGE" width="160px">
    </a>
    <hr>
    <ul class="nav nav-pills ">
      <li>
        <a routerLink="/admin" class="nav-link text-white">
          Dashboard
        </a>
      </li>
      <li>
        <a (click)="showTabsSys()" class="nav-link text-white">
          Gestion du Système
        </a>
        <ul [hidden]="tabsSys">
          <li>
            <a routerLink="/admin/gestion-systemes/dge-infos" class="nav-link text-white">
              Table DGE
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-systemes/parrainages-infos" class="nav-link text-white">
              Table Parrainages
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-systemes/elections-infos" class="nav-link text-white">
              Table Elections
            </a>
          </li>
        </ul>
      </li>
      <li>

        <a (click)="showTabsCompte()" class="nav-link text-white">
          Gestion des Comptes
        </a>
        <ul [hidden]="tabsCompte">
          <li>
            <a routerLink="/admin/gestion-comptes/admins" class="nav-link text-white">
              Comptes Admins
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-comptes/privileges" class="nav-link text-white">
              Priviléges Comptes Admins
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-comptes/candidats" class="nav-link text-white">
              Comptes  Candidats
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-comptes/collecteurs" class="nav-link text-white">
              Comptes  Collecteurs
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-comptes/electeurs" class="nav-link text-white">
              Comptes Electeurs
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-comptes/bureaux-de-vote" class="nav-link text-white">
              Comptes Bureaux de vote
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a (click)="showTabsMDge()" class="nav-link text-white">Les Membres de la DGE</a>
        <ul [hidden]="tabsMDGE">
          <li>
            <a routerLink="/admin/gestion-membres-dge" class="nav-link text-white">
              Gestion des Membres de la DGE
            </a>
          </li>
          <li>
            <a routerLink="/admin/gestion-fonctions-dge" class="nav-link text-white">
              Gestion des Fonctions des Membres de la DGE
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/admin/gestion-collecteurs" class="nav-link text-white">
          Gestion des Collecteurs
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-candidats" class="nav-link text-white">
          Gestion des Candidats
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-partis-coalitions" class="nav-link text-white">
          Gestion des Partis ou Coalitions
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-electeurs" class="nav-link text-white">
          Gestion des Electeurs
        </a>
      </li>
      <li>
        <a (click)="showTabsPollLoc()" class="nav-link text-white">Gestion des Bureaux de Votes et des Localités</a>
        <ul [hidden]="tabspollLoc">
          <li>
            <a routerLink="/admin/gestion-lieux-de-votes" class="nav-link text-white">
              Lieux de Votes
            </a>
          </li>
          <li>
<!--            <a routerLink="/admin/gestion-localites" class="nav-link text-white">-->
            <a class="nav-link text-white">
              Localités
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/admin/gestion-parrainages" class="nav-link text-white">
          Gestion des Parrainages
        </a>
      </li>
      <li>
        <a routerLink="/admin/gestion-elections" class="nav-link text-white">
          Gestion des Elections
        </a>
      </li>
    </ul>
    <hr>
    <!--<div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>-->
  </div>
