<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Demande de Réinitialisation de mot de Passe</h4>
    </div>
    <div class="card-body">
      <a routerLink="../" class="nav-link text-primary fw-bold text-decoration-underline fs-5">Se connecter</a>
      <div class="alert alert-danger" *ngIf="errors">{{errors}}</div>
      <div class="alert alert-danger" *ngIf="error2">{{error2}}</div>
      <div class="alert alert-success" *ngIf="msg">{{msg}}</div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="vstack mt-2">
        <input type="hidden" formControlName="email" >
        <input type="hidden"  formControlName="token" >

        <div class="input-group mb-5">
          <div class="form-floating ">
            <input type="{{passwordType}}" class="form-control" id="floatingPassword" placeholder="Mot de passe" formControlName="password" required>
            <label for="floatingPassword">Mot de passe</label>
        <!--        <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>-->
          </div>
          <span class="input-group-text">
                    <i class="bi " [ngClass]="eyeType?'bi-eye-slash':'bi-eye'" (click)="passwordView()" id="togglePassword"></i>
          </span>
        </div>
        <div class="input-group mb-5">

          <div class="form-floating ">
            <input type="{{c_passwordType}}" class="form-control" id="floatingPassword" placeholder="Confirmer le Mot de passe" formControlName="password_confirmation" required>
            <label for="floatingPassword">Confirmer le mot de passe</label>
    <!--        <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>-->
          </div>
          <span class="input-group-text">
                    <i class="bi " [ngClass]="c_eyeType?'bi-eye-slash':'bi-eye'" (click)="c_passwordView()" id="togglePassword"></i>
          </span>
        </div>
        <div class="form-floating">
          <button type="submit" class="btn btn-outline-secondary fs-4 ">Réinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
