

.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 400px;
  width: 75%;
  padding: 3em;
  min-height: 100%;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
}

.form-container {
  width: 100%;
  min-width: 300px;
}

