.card-body{
  div{
    padding: 0.15em;
  }
  strong{
    font-size: 1.15em;
  }
}
.card-header{
  display: grid;
  grid-template-columns: 1fr 200px;
  .btn-outline-dark {
    margin-right: 0;
    margin-left: auto;
    max-width: 150px;
  }
  .btn-outline-dark:hover {
    background: linear-gradient(-90deg, whitesmoke, rgba(126, 181, 117, 0.54));
    box-shadow: 1px 2px 6px #033403;
    font-weight: bold;
    font-size: 1.15em;
  }


}

.form-label {
  font-size: 1.15em;
  font-weight: bold;
}

.form-control:focus{
  outline: #7eb575 solid !important;
  border-color: #7eb575 !important;
  box-shadow: none !important;
}
.form-control-errors, .form-control-errors:focus{
  box-shadow: none !important;
  border-color: #e31b23 !important;
  outline: #e31b23 solid !important;
}

textarea {
  height: 20em;
}

.btn-outline-warning:hover {
  color: white;
}
