.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.stats1-container{
  margin: 0;
  padding: 0.5em;
  width: 100%;
}

.card{
  max-width: 140px;
  min-width: 100px;
  min-height: 140px;
  max-height: 180px;
  border-width: 3px;
  border-radius: 10px;
  h2{
    background-color: rgba(255, 255, 255, 0.25);
    text-align: end;
    padding: 0.1em;
    font-weight: bolder;
    border-bottom: 5px double white;

  }
  span{
    font-weight: bold;
    min-height: auto;
    padding: 0 0.25em 0 0.25em;
  }
}

.bg-danger-subtle-edited{
  background-color: rgba(236, 52, 19, 0.69);
}
.bg-warning-subtle-edited{
  background-color: rgba(236, 117, 19, 0.69);
}
