<div class=" m-3">
  <div class="row ">
    <div class="col-2 card">
      <div class="card-header">
        <h5>Nombre d'électeurs inscrits sur la liste électorale</h5>
      </div>
      <div class="card-body"></div>
    </div>
    <div class="col-3 card">Nombre de Candidats</div>
    <div class="col-3 card">Nombre d'électeurs inscrits sur E-vote</div>
    <div class="col-3 card">Nombre de connexion à la plateforme</div>
  </div>
  <div class="row">
    <div class="col-3 card">Nombre de parrainages</div>
    <div class="col-3 card">Nombre de bureaux de votes</div>
    <div class="col-3 card">Taux de participation</div>
    <div class="col-3 card">Nombre Administrateurs</div>
  </div>
  <div>

  </div>
</div>
