.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);

}

.form-floating {
  min-width: 200px;
}


.container{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-width: 400px;
  width: 50%;
  padding: 3em;

}

.form-container {
  width: 100%;
  min-width: 300px;
}

