  <section class="bg-dark">
    <header class="navbar bg-gradient  bg-opacity-75 container-fluid p-2 mb-4  border-bottom border-5 border-success">

    <img src="/assets/LogoDge.jpg" class="float-start img-fluid" width="7%" height="auto">
    <span class="text-success text-wrap fs-2 fw-bolder float-start text-center text-decoration-underline">
      Plateforme E-Vote - Connexion - Administrateur
      <!--    <hr class="border-2 border-success border">-->
    </span>
    <img src="/assets/FlagMapOfSenegal.svg" class="float-end img-fluid" width="7%" height="auto">
    </header>
  </section>
  <!--  <div style="clear: both"></div>-->

