<form class="w-75 text-center" (ngSubmit)="changePassword()">
  <div class="form-group mb-3">
    <label class="form-label" for="">Ancien Mot de passe</label>
    <input class="form-control" type="password" name="currentPassword" [ngModel]="currentPassword">
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="">Nouveau Mot de passe</label>
    <input class="form-control" type="password" name="currentPassword" [ngModel]="newPassword">
  </div>
  <div class="form-group mb-3">
    <label class="form-label" for="">Répétez le nouveau mot de passe</label>
    <input class="form-control" type="password" name="currentPassword" [ngModel]="c_newPassword">
  </div>
  <div class="form-group text-center mb-3">
    <button class="btn btn-light btn-outline-success w-25 text-center" type="submit">Valider</button>
  </div>
</form>
