<!--<div class="row p-2 bg-body-tertiary w-75 justify-content-center text-center m-auto border-2 border-dark-subtle border">
  <label class="form-label col-6">Sélectionner un candidat</label>
  <div class="col-6 w-auto float-start">
    <select class="form-select" aria-label="Default select example">
      <option [disabled]="true">Selectionner un candidat</option>
      @for (candidate of candidates; track candidate.id) {
        <option value="{{candidate.id}}" (click)="selectCandidate(candidate.id)">
          {{candidate.name+': '+candidate.firstname +' '+ candidate.lastname}}
        </option>
      }
    </select>
  </div>
</div>-->
<app-paginate-table
  [isLoading]="isLoading"
  [tableTitle] = "fetchTitle"
  [columns]="['#' ,'Nom', 'Prénom(s)','Parti' , 'Commune' ]"
  [rows]="allCollectors"
  [dataColumns]="['id', 'lastname', 'firstname' , 'name', 'district_name',]"
  [lastPage]="lastPage"
  [pageSize]="pageSize"
  [total]="total"
  [pageItemsCount]="itemsPerPage"
  [url]="environment.apiUrl+'/admin/collectors/'"
/>

