
<app-no-acc-users-paginate-table
  [isLoading]="isLoading"
  [tableTitle] = "fetchTitle"
  [columns]="['ID', 'Matricule', 'Nom', 'Prénom(s)',  'Fonction']"
  [rows]="allUsers"
  [dataColumns]="['createId', 'registrationNumber', 'lastname','firstname', 'title']"
  [lastPage]="lastPage"
  [pageSize]="pageSize"
  [total]="total"
  [pageItemsCount]="itemsPerPage"
/>
<h3 class="w-100 bg-danger-subtle text-danger-emphasis shadow p-3 text-center border border-secondary-subtle border-3" *ngIf="!allUsers[0]">
  Aucun utilisateur de la DGE sans compte!
</h3>
