<div class="card-group">
  <div class="card m-3">
    <div class="card-header">
      <h4>Candidate Infos</h4>
    </div>
    <div class="card-body">
      <img width="70px" height="70px" [src]="storageUrl+candidate.image" alt="">
      <div>
        <strong>Prénom et Nom: </strong><span>{{candidate.firstname}} {{candidate.lastname}}</span>
      </div>
      <div>
        <strong>Biographie:</strong> <p>{{candidate.biography}}</p>
      </div>
      <div>
        <strong>Mot de campagne:</strong> <p>{{candidate.campaignWord}}</p>
      </div>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-header">
      <h4>Parti Infos</h4>
    </div>
    <div class="card-body d-flex">
      <div>
        <img width="100px" height="100px" src="{{storageUrl+party.logo}}" alt="Logo_du_party">
        <div>
          <strong>Nom du parti: </strong><span>{{party.name}}</span>
        </div>
        <div>
          <strong>Slogan: </strong><span>{{party.slogan}}</span>
        </div>
        <div>
          <strong>A propos: </strong><p>{{party.description}}</p>
        </div>
        <div>
          <strong>Programme de campagne: </strong><a href="{{storageUrl+party.campaignProgram}}">Télécharger le programme</a>
        </div>
      </div>
      <div class="float-end">
        <img width="200px" height="350px" src="{{storageUrl+party.ballot}}" alt="">
      </div>
    </div>
  </div>
</div>
