<div class="container py-5 bg-secondary-subtle border-secondary border-2 border">
  <h1 class="mb-4 text-success-emphasis text-decoration-underline">À propos du projet</h1>

  <p>
    Cette plateforme a été conçue pour accompagner la gestion des <strong>parrainages</strong> et des <strong>élections présidentielles</strong> au Sénégal.
    Elle vise à renforcer la transparence, la traçabilité et l’efficacité des opérations électorales.
  </p>

  <h3 class="mt-4">Objectifs du projet</h3>
  <ul>
    <li>Centraliser les données des électeurs, candidats et parrainages.</li>
    <li>Faciliter la validation des soutiens électoraux (parrainages).</li>
    <li>Assurer un suivi précis des localités électorales : régions, départements, arrondissements, communes.</li>
    <li>Permettre une gestion fluide des lieux et bureaux de vote.</li>
  </ul>

  <h3 class="mt-4">Fonctionnalités principales</h3>
  <ul>
    <li>Gestion des utilisateurs (électeurs, superviseurs, candidats).</li>
    <li>Suivi et vérification des parrainages.</li>
    <li>Tableaux de bord et statistiques électorales.</li>
    <li>Exploration hiérarchique des localités du Sénégal.</li>
    <li>Sécurisation des données et accès contrôlé.</li>
  </ul>


  <p class="mt-4">
    Ce projet s’inscrit dans un esprit de modernisation des processus démocratiques et électoraux, en s’appuyant sur des outils numériques robustes et accessibles.
  </p>

  <p class="text-muted mt-5">© {{ currentYear }} - Projet EVOTE - Gestion Électorale Sénégal - <i class="fw-bold text-info">Release 1.0 beta</i></p>
</div>
