<div>
  <div class="card m-3">
    <div class="card-header">
      <h4>Candidate Infos</h4>
    </div>
    <div class="card-body">
      <img width="100px" src="{{storageUrl+candidate.image}}" alt="">
      <div>
        <strong>Prénom et Nom: </strong><span>{{candidate.firstname}} {{candidate.lastname}}</span>
      </div>
      <div>
        <strong>Biographie:</strong> <p>{{candidate.biography}}</p>
      </div>
      <div>
        <strong>Mot de campagne:</strong> <p>{{candidate.campaignWord}}</p>
      </div>
    </div>
  </div>
  <div class="card m-3">
    <div class="card-header">
      <h4>Parti Infos</h4>
    </div>
    <div class="card-body d-flex">
      <div>

        <img width="100px" src="{{storageUrl+party.logo}}" alt="Logo_du_party">
        <div>
          <strong>Nom du parti: </strong><span>{{party.name}}</span>
        </div>
        <div>
          <strong>Slogan: </strong><span>{{party.slogan}}</span>
        </div>
        <div>
          <strong>A propos: </strong><p>{{party.description}}</p>
        </div>
        <div>
          <strong>Programme de campagne: </strong><a class="link-body-emphasis" href="{{party.campaignProgram}}">Télécharger le fichier</a>
        </div>
      </div>
      <div>
        <img class="float-end" width="200px"  src="{{storageUrl+party.ballot}}" alt="Bulletin_du_party">
      </div>
    </div>
  </div>
</div>
