
<div class="background">
  <main>
      <div class="myContainer">
        <section>
          <div class="welcome">
            <h3>Bienvenue sur Evote!</h3>
            <div class="wlc-section">
              <p>
                <img src="/assets/images/urne.jpeg" alt="">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
          <div class="candidate">
          <h5>Candidats</h5>
          <hr>
          <p>
            Vous pouvez vous connecter ici pour accès à vos informations pour le parrainages.
            <a class="myBtn" routerLink="/parrainages-interface/candidat/connection">Se Connecter</a>

          </p>
        </div>

          <div class="collector">
            <h5>Collecteurs</h5>
            <hr>
            <p>
              Vous pouvez vous connecter ici pour accès à vos informations pour le parrainages.
              <a class="myBtn" routerLink="/parrainages-interface/collecteur/connection">Se Connecter</a>

            </p>
          </div>
          <div class="elector">
            <h5>Electeurs</h5>
            <hr>
            <p>
              Vous n'êtes pas encore inscit, inscivez vous!
              <a class="myBtn" routerLink="/parrainages-interface/electeur/inscription">S'inscrire</a>
            </p>
            <p>
              Vous êtes déjà inscrit connecté vous!
              <a class="myBtn" routerLink="/parrainages-interface/electeur/connection">Se Connecter</a>

            </p>
          </div>
        </section>
      </div>
  </main>
</div>
