<h5 class="bg-light-subtle link-underline shadow-sm ">Modifier mes données utilisateur</h5>
<div class="car-body mt-3 shadow p-3 border border-1 w-100">
  <form [formGroup]="form" class="mb-3 border-2 border p-3 w-75 align-items-center justify-content-center m-auto text-center" (ngSubmit)="updateDatas()" >
    <div class="form-group mb-3">
      <label class="form-label">Nom d'utilisateur</label>
      <div class=" text-danger" *ngIf="form.controls.username.invalid">Le nom d'utilisateur est requis et doit être constitué de <b>caractères alpha-numériques</b>.</div>
      <input class="form-control" type="text" formControlName="username" [ngClass]="form.controls.username.invalid?'is-invalid':'is-valid'">
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Email</label>
      <div class=" text-danger" *ngIf="form.controls.email.invalid">L'email est requis et doit être de la forme <b>exepmle&#64;evot.sn</b></div>
      <input class="form-control" type="email" formControlName="email" [ngClass]="form.controls.email.invalid?'is-invalid':'is-valid'">
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Téléphone</label>
      <div class=" text-danger" *ngIf="form.controls.phone.invalid">Le téléphone est requis! </div>
      <input class="form-control" type="tel" formControlName="phone" [ngClass]="form.controls.phone.invalid?'is-invalid':'is-valid'">
    </div>
    <div class="row d-flex">
      <label class="form-label">Image de Profil</label>
      <div class="form-group mb-3 col-8">
        <input class="form-control " type="file" formControlName="image">
      </div>
      <div class="col-4">
        <img width="100px" src="{{environment.storageUrl+old_image}}" alt="">
      </div>
    </div>
    <div class="form-group text-center mb-3">
      <button class="btn-save w-25 text-center" type="submit" [disabled]="form.invalid">Valider</button>
    </div>
  </form>
</div>
