<h5 class="bg-secondary-subtle link-underline bg-light-subtle shadow-sm mb-3">Modifier mot de passe</h5>
<div class="w-100 card-body shadow border border-1">
  <form [formGroup]="form" class="w-75 text-center m-auto p-3 border-2 border " (ngSubmit)="changePassword()">
    <div class="form-group mb-3">
      <label class="form-label" >Ancien Mot de passe</label>
      <input class="form-control" type="password" formControlName="currentPassword">
    </div>
    <div class="form-group mb-3">
      <label class="form-label" >Nouveau Mot de passe</label>
      <input class="form-control" type="password" formControlName="newPassword" [ngClass]="form.controls.newPassword.invalid?'is-invalid':'is-valid'">
    </div>
    <div class="form-group mb-3">
      <label class="form-label" >Répétez le nouveau mot de passe</label>
      <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="form.controls.confirmPassword.invalid?'is-invalid':'is-valid'">
    </div>
    <div class="form-group text-center mb-3">
      <button class="btn-save w-25 text-center" type="submit" [disabled]="form.invalid">Valider</button>
    </div>
  </form>

</div>
