<nav class="navbar navbar-expand-lg bg-body-secondary shadow-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/parrainages-interface/collecteur">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parrainages-interface/collecteur/nos_parrains">Nos Parrains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parrainages-interface/collecteur/mon_candidat">Mon Candidat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/parrainages-interface/collecteur/mes_infos">Mes Informations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <form (ngSubmit)="logout()">
              <button class="logoutBtn" type="submit">Se déconnecter</button>
            </form>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
