
<div class="border me-3 mb-4 " *ngIf="!voted">
  <div class=" selectHeader text-center text-danger">
    <h4>Votes - Merci de cliquez sur le bouton voter pour votre candidat!</h4>
  </div>
  <div class="d-flex">

    <div class="candidate-card" *ngFor="let cand of candidatures">
      <img width="150px" src="{{environment.storageUrl+cand.ballot}}" alt="">
      <section>
        <a class="nav-link">
          <p><b>Parti: </b>{{cand.name}}</p>
        </a>
        <section class="float-end" >
          <button class="btn fs-3" (click)="vote(cand.partyId)">Voter</button>
        </section>
      </section>
    </div>
  </div>
</div>

<div *ngIf="voted">
  <div class="card card-body mt-5 bg-success-subtle w-">
    <div class="fw-bold align-items-center justify-content-center p-5 text-center">
      <h4 class="alert alert-success">Votre voix a été enregistrée.</h4>
      <h3 class="text-danger">Merci pour votre acte de citoyenneté!</h3>
    </div>
  </div>
</div>
