<header class="navbar container-fluid p-2 mb-0  border-bottom border-3 border-warning">
  <img src="/assets/LogoDge.jpg" class="float-start img-fluid" width="7%" height="auto">
  <span class="text-success text-wrap fs-2 fw-bolder text-center ">
      <h1>Plateforme E-Vote</h1>
      <h4 *ngIf="!isLoggin" class="color-header text-decoration-underline"></h4>
      <h4 *ngIf="isLoggin" class="color-header text-decoration-underline">Parrainages aux élections présidentielles</h4>
    </span>
  <img src="/assets/FlagMapOfSenegal.svg" class="float-end img-fluid" width="7%" height="auto">
</header>
<div class="mt-0 w-100" *ngIf="isLoggin">
  <app-navbar />
</div>
