
<div class="container mt-0">
  <div *ngIf="!register">
    <h5>Inscription | Vérification de l'authenticité de l'électeur</h5>
    <div class="alert alert-danger" *ngIf="errors">{{errors}}</div>
    <div class="pb-1 alert alert-info" *ngIf="errorUserExist">
      {{errorUserExist}}
      <br>Merci de cliquez sur le lien pour vous connecter. <a routerLink="../connection">Se Connecter</a>

    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearchElector()">

      <div class="form-floating mb-5">
        <input type="number" class="form-control" id="floatingInput" placeholder="" formControlName="cniNumber" >
        <label for="floatingInput">Entrez votre N°CNI</label>
      </div>
      <div class="form-floating">
        <div>
          <button type="submit" class="btn btn-success fs-4 float-start">Rechercher</button>
          <a class="float-end" routerLink="../connection">Se Connecter</a>
        </div>
      </div>
    </form>

  </div>

  <div *ngIf="register">
    <h5>Inscription | Formulaire d'inscription</h5>
    <div class="card card-body">
      <table class="table  table-striped table-responsive flex-wrap border-dark-subtle border-1 border">
        <th class="float-end pe-2 ">
          <tr>N° CNI</tr>
          <tr>Nom</tr>
          <tr>Prénoms</tr>
          <tr>Date de Naissance</tr>
          <tr>Lieu de Naissance</tr>
          <tr>Sexe</tr>
          <tr>Adresse</tr>
          <tr>N° Electeur</tr>
          <tr>Bureau de Vote</tr>
          <tr>Lieu de Vote</tr>
          <tr>Date de délivrance</tr>
          <tr>Date d'expiration</tr>
          <tr>Prénom du père</tr>
          <tr>Nom de la mère</tr>
          <tr>Prénom de la mère</tr>
        </th>
        <td>
          <tr>{{elector.cniNumber}}</tr>
          <tr>{{elector.lastname}}</tr>
          <tr>{{elector.firstname}}</tr>
          <tr>{{elector.birthDate}}</tr>
          <tr>{{elector.birthPlace}}</tr>
          <tr>@if (elector.sex === 0) {
            {{ 'Féminin' }}
          } @else {
            {{'Masculin' }}
          }
          </tr>
          <tr>{{elector.address}}</tr>
          <tr>{{elector.electorNumber}}</tr>
          <tr>{{elector.polling_station_id}}</tr>
          <tr>{{elector.polling_station_id}}</tr>
          <tr>{{elector.delivranceDate}}</tr>
          <tr>{{elector.expirationDate}}</tr>
          <tr>{{elector.dadFirstname}}</tr>
          <tr>{{elector.mumFirstname}}</tr>
          <tr>{{elector.mumLastname}}</tr>
        </td>
      </table>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <input type="hidden" formControlName="cniNumber">
        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" [ngClass]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched?'is-invalid':'is-valid'">
          <label for="floatingInput">Email</label>
          <!--        <span *ngIf="errors.loginName" class="text-danger">{{errors.loginName}}</span>-->
        </div>
        <div class="text-danger fw-bold" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          Email invalide
        </div>

        <div class="form-floating mb-2">
          <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="phone">
          <label for="floatingInput">Téléphone</label>
          <!--        <span *ngIf="errors.loginName" class="text-danger">{{errors.loginName}}</span>-->
        </div>
        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="username">
          <label for="floatingInput">Nom d'utilisateur</label>
          <!--        <span *ngIf="errors.loginName" class="text-danger">{{errors.loginName}}</span>-->
        </div>

        <div class="input-group mb-2">
          <div class="form-floating ">
            <input type="{{passwordType}}" class="form-control" id="floatingPassword" placeholder="Mot de passe" formControlName="password" required>
            <label for="floatingPassword">Mot de passe</label>
            <!--        <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>-->
          </div>
          <span class="input-group-text">
                    <i class="bi " [ngClass]="eyeType?'bi-eye-slash':'bi-eye'" (click)="passwordView()" id="togglePassword"></i>
          </span>
        </div>
        <div class="input-group mb-2">

          <div class="form-floating ">
            <input  [ngClass]="registerForm.errors?.['passwordsMismatch'] && registerForm.touched?'is-invalid':'is-valid'" type="{{c_passwordType}}" class="form-control" id="floatingPassword" placeholder="Confirmer le Mot de passe" formControlName="password_confirmation" required>
            <label for="floatingPassword">Confirmer le mot de passe</label>
            <!--        <span *ngIf="errors.password" class="text-danger">{{errors.password}}</span>-->
          </div>
          <span class="input-group-text">
                    <i class="bi " [ngClass]="c_eyeType?'bi-eye-slash':'bi-eye'" (click)="c_passwordView()" id="togglePassword"></i>
          </span>
        </div>
        <div *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.touched" class="text-danger fw-bold">
          Les mots de passe ne correspondent pas.
        </div>
        <div class="form-floating">
          <button type="submit" class="btn btn-success fs-4 float-start">S'inscrire</button>
          <div class="float-end">
            <a class="float-end" routerLink="../connection">Se Connecter</a>
          </div>
        </div>
      </form>

  </div>
</div>
