<div class="myContainer">
  <div class="my-card" *ngIf="votingPlace">
    <div class="my-card-header">
      <button title="Reourner à la liste" class="backarr" (click)="goBack()">&#8617;</button>
      <span>Le lieu de vote avec l'id: {{votingPlace.id}}</span>
    </div>
    <div class="my-card-body">
      <table class="table">
        <tr >
          <th>#</th>
          <td>
            {{ votingPlace.id }}
          </td>
        </tr>
        <tr >
          <th>Nom</th>
          <td>
            {{ votingPlace.name }}
          </td>
        </tr>
        <tr >
          <th>Commune</th>
          <td>
            {{ votingPlace.district.name }}
          </td>
        </tr>
        <tr >
          <th>Date de création</th>
          <td>
            @if (votingPlace.created_at ==null){
              <b class="text-danger">Non définie</b>
            } @else {
              {{ votingPlace.created_at }}
            }
          </td>
        </tr>
        <tr >
          <th>Dernière modification</th>
          <td>
            @if (votingPlace.updated_at ==null){
              <b class="text-danger">Non définie</b>
            } @else {
              {{ votingPlace.updated_at }}
            }
          </td>
        </tr>
        <tr >
        </tr>
      </table>
      <div class="my-Container flex-wrap ">
<!--        <div class="alert alert-danger" *ngIf="error">{{error}}</div>-->
        <table class="table table-striped table-responsive table-bordered">
          <caption class="captionTitle">
      <span class="ms-2 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
        Liste des Bureau de Votes
      </span>
            <a class="btn-new float-end me-2" routerLink="gestion-bureaux-de-votes/nouveau">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#008B8BFF"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
              Nouveau
            </a>
          </caption>
          <caption class="captionInfos">
            <span class="b2"><u>Nombre D'enregistrements</u>:
              <strong>
                {{pollCount}}
              </strong>
            </span>
          </caption>
          <thead>
          <tr>
            <th>#</th>
            <th>Numéro du Bureau</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let poll of pollingStations">
            <td>{{poll.id}}</td>
            <td>{{poll.stationNumber}}</td>
            <td>{{poll.created_at}}</td>
            <td>{{poll.updated_at}}</td>
            <td class="d-flex justify-content-end">
<!--              <a title="Afficher" [routerLink]="'gestion-bureaux-de-votes/id-bureau/'+poll.id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FBFD"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-480H200v480Zm280-80q-82 0-146.5-44.5T240-440q29-71 93.5-115.5T480-600q82 0 146.5 44.5T720-440q-29 71-93.5 115.5T480-280Zm0-60q56 0 102-26.5t72-73.5q-26-47-72-73.5T480-540q-56 0-102 26.5T306-440q26 47 72 73.5T480-340Zm0-100Zm0 60q25 0 42.5-17.5T540-440q0-25-17.5-42.5T480-500q-25 0-42.5 17.5T420-440q0 25 17.5 42.5T480-380Z"/></svg></a>-->
<!--              <a title="Modifier" [routerLink]="'gestion-bureaux-de-votes/'+poll.id"><svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EAC452"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg></a>-->
              <form  (ngSubmit)="onPollDelete(poll.id)">
                <button title="Supprimer" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                </button>
              </form>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
    <div class="my-card-footer">
      <button class="btn-edit" (click)="onEdit(id)">
        <svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FED21DFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg>
        Modifier
      </button>
      <button class="btn-delete" (click)="onDelete(id)">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
        Supprimer
      </button>
    </div>
  </div>

</div>
