<div class="myContainer">
  <div class="my-card">
    <div class="my-card-header">
      <button title="Reourner à la liste" class="backarr" (click)="goBack()">&#8617;</button>
      <span>{{titleElement}}</span>
    </div>
    <div class="my-card-body" *ngIf="user">
      <div class="row">
        <div class="col-6">
          <table class="table">
            <tr>
              <th>#</th>
              <td>{{user.id}}</td>
            </tr>
            <tr>
              <th>Photo de profil</th>
              <td>
                <img width="70px" src="{{environment.storageUrl+user.image}}" alt="">
              </td>
            </tr>
            <tr *ngIf="user.lastname">
              <th>Nom</th>
              <td>{{user.lastname}}</td>
            </tr>
            <tr *ngIf="user.firstname">
              <th>Prénom</th>
              <td>{{user.firstname}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <th>Nom d'utilisateur</th>
              <td>{{user.username}}</td>
            </tr>
            <tr>
              <th>Téléphone</th>
              <td>{{user.phone}}</td>
            </tr>
          </table>
        </div>
        <div class="col-6  card-body card shadow">

        </div>
      </div>
    </div>

    <div class="my-card-footer">
    </div>
  </div>

</div>
