<div class="shadow card m-2 p-2">
  <div class="card-header">
    <h5>Les informations de la DGE</h5>
      <a routerLink="/admin/gestion-systemes/dge-infos/modifier" class="btn btn-outline-success text-success border-">
        <svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="green"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg>
        Modifier
      </a>
  </div>
  <div class="card-body">
    <div>
      <strong>Nom: </strong> <span>{{dgeInfos.name}}</span>
    </div>
    <div>
      <strong>Code Pays: </strong> <span>{{dgeInfos.electorCountryCode}}</span>
    </div>
    <div>
      <strong>Sigle: </strong><span>{{dgeInfos.acronym}}</span>
    </div>
    <div>
      <strong>Logo: </strong> <span><img src="{{dgeInfos.logo}}" alt="{{dgeInfos.name}}"></span>
    </div>
    <div>
      <strong>Téléphone 1: </strong><span>{{dgeInfos.phone1}}</span>
    </div>

    <div>
      <strong>Téléphone 2: </strong><span>{{dgeInfos.phone2}}</span>
    </div>

    <div>
      <strong>Email: </strong><span>{{dgeInfos.email}}</span>
    </div>

    <div>
      <strong>Adresse: </strong><span>{{dgeInfos.address}}</span>
    </div>
    <div>
      <strong>A Propos: </strong> <p>{{dgeInfos.about}}</p>
    </div>
    <div>
      <strong>Texte 1: </strong>
        @if (dgeInfos.text1 == null){
          <span class="text-danger fw-bold">Non renseigné</span>
        } @else {
          <p>
            {{dgeInfos.text1}}
          </p>
        }
    </div>
    <div>
      <strong>Texte 2: </strong>
      @if (dgeInfos.text2 == null){
        <span class="text-danger fw-bold">Non renseigné</span>
      } @else {
        <p>
          {{dgeInfos.text2}}
        </p>
      }
    </div>

  </div>
  <div class="card-footer">
    <cite><strong>Dernière Modification: </strong>{{dgeInfos.updated_at}}</cite>
  </div>
</div>
