<div class="shadow card m-2 p-2">
  <h3>Les informations de la DGE</h3>
  <div class="card-body">
    <div>
      <strong>Nom: </strong> <span>{{dgeInfos.name}}</span>
    </div>
    <div>
      <strong>Code Pays:</strong>
    </div>
    <div>
      <strong>Sigle:</strong>
    </div>
    <div>
      <strong>About</strong>
    </div>
    <div>
      <strong>Logo</strong>
    </div>
    <div>
      <strong>Téléphone 1:</strong>
    </div>

    <div>
      <strong>Téléphone 2:</strong>
    </div>

    <div>
      <strong>Email:</strong>
    </div>

    <div>
      <strong>Adresse:</strong>
    </div>
    <div>
      <strong>Texte 1:</strong>
    </div>

    <div>
      <strong>Texte 2:</strong>
    </div>

  </div>
</div>
