@if (isLoading) {

<div class="text-info text-center vertical-align" >
  <div class="spinner-grow" role="status"></div>
  <span class="status ps-3">Chargement...</span>
</div>
}@else{
<div class="myContainer flex-wrap ">
  <div class="alert alert-danger" *ngIf="error">{{error}}</div>
  <table class="table table-striped table-responsive table-bordered">
    <caption class="captionTitle">
      <span class="ms-2 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M360-240h440v-107H360v107ZM160-613h120v-107H160v107Zm0 187h120v-107H160v107Zm0 186h120v-107H160v107Zm200-186h440v-107H360v107Zm0-187h440v-107H360v107ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Z"/></svg>
        {{tableTitle}}
      </span>
    </caption>
    <caption class="captionInfos">
      <span class="b1"><u>Page</u>:  <strong> {{pageIndex}}/{{lastPage}}</strong></span>
      <span class="b2"><u>Nombre D'électeurs</u>:
        <strong>
          @if (pageItemsCount >= total) {
            {{total}}
          } @else {
            {{pageItemsCount}}/{{total}}
          }
        </strong>
      </span>
    </caption>
    <thead>
    <tr>
      <th *ngFor="let column of columns">{{column}}</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows;trackBy: rowTrackBy">
        <td title="{{row[dataColumn]}}" *ngFor="let dataColumn of dataColumns">
          @if (row[dataColumn]===null) {
            <span class="text-danger fw-bold">Non défini(e)</span>
          }
          {{row[dataColumn]}}
        </td>
        <td class="d-flex justify-content-center align-items-center">
<!--          <a title="Afficher" [routerLink]="'id/'+row.id"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#75FBFD"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-480H200v480Zm280-80q-82 0-146.5-44.5T240-440q29-71 93.5-115.5T480-600q82 0 146.5 44.5T720-440q-29 71-93.5 115.5T480-280Zm0-60q56 0 102-26.5t72-73.5q-26-47-72-73.5T480-540q-56 0-102 26.5T306-440q26 47 72 73.5T480-340Zm0-100Zm0 60q25 0 42.5-17.5T540-440q0-25-17.5-42.5T480-500q-25 0-42.5 17.5T420-440q0 25 17.5 42.5T480-380Z"/></svg></a>-->
          <button (click)="authorizeViote(row.cniNumber)" *ngIf="options" type="button" title="Autoriser à voter" >
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="green"><path d="M160-160q-33 0-56.5-23.5T80-240v-120h80v120h640v-480H160v120H80v-120q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm300-140-56-58 83-82H80v-80h407l-83-82 56-58 180 180-180 180Z"/></svg>
          </button>

        </td>
      </tr>
    </tbody>
    <tfoot>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item " >
          <a class="page-link" [ngClass]="pageIndex<=1?'disabled':''"  (click)="prevPage()">&laquo;</a>
        </li>
        @for (page of pageSize; track $index){
          @if (page<=5 || page>=lastPage-5 ) {
            <li class="page-item"><a class="page-link" [ngClass]="pageIndex===page?'disabled':''"   (click)="selectPage(page)">{{page}}</a></li>
          } @else {
            @if (page>=pageIndex-3 && page<=pageIndex+3){
              <li class="page-item"><a class="page-link" [ngClass]="pageIndex===page?'disabled':''"   (click)="selectPage(page)">{{page}}</a></li>
            }
          }
        }
        <li class="page-item">
          <a class="page-link" [ngClass]="pageIndex===lastPage?'disabled':''" (click)="nextPage()">&raquo;</a>
        </li>
      </ul>
    </nav>

    </tfoot>
  </table>
</div>
}

