.container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "header header" "aside main";
}

header{
  grid-area: header;
}

aside{
   grid-area: aside;
   max-width: 200px;
   min-width: 100px;
    min-height: 50vh;
    background: linear-gradient(-90deg,rgb(195, 192, 192)0%, rgb(240, 240, 240) 100%);
    border-right: darkgrey solid 2px;
    padding: 1em;
    ul{
      font-size: small;
      font-weight: bold;
      color: darkcyan;
    }
    ul li{
      margin-bottom: 0.5em;
    }
    ul li a{
      color: darkcyan;
    }
    ul li a:hover{
      text-decoration: underline;
      color: darkblue;
    }
    .backLi{
      list-style: none;
      text-align: end;
      cursor: pointer;
    }
  }

main{
  grid-area: main;
}

