
<app-no-acc-users-paginate-table
  [isLoading]="isLoading"
  [tableTitle] = "fetchTitle"
  [columns]="['ID', 'N° CNI', 'Image','Nom', 'Prénom(s)',  'Logo du parti',  'Nom du parti']"
  [rows]="allUsers"
  [dataColumns]="['createId', 'cniNumber', 'image','lastname','firstname', 'logo', 'party_name']"
  [lastPage]="lastPage"
  [pageSize]="pageSize"
  [total]="total"
  [pageItemsCount]="itemsPerPage"
/>
<h3 class="w-100 bg-danger-subtle text-danger-emphasis shadow p-3 text-center border border-secondary-subtle border-3" *ngIf="!allUsers[0]">
  Aucun électeur sans compte!
</h3>
