.border{
  border-radius: 15px;
}
.candidate-card {
  top: 0;
  width: 200px;
  height: fit-content;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.25em 0.5em;
  img{
    width: 180px;
    height: 250px;
    border: 1px solid black;
    margin-bottom: 0.25em;
  }

  .sp-btn{
    display: inline-flex;
  }
  .btn{
    background-color: #7eb575;
    color: white;
    border-radius: 0.25em;
    border: #198754 5px solid;
  }
  .btn:hover{
    background: linear-gradient(to right, wheat, whitesmoke);
    border-color: #7eb575;
    color: #7eb575;
  }
}

.selectHeader{
  background-color: rgba(91, 196, 91, 0.59);
  border-radius: 15px 15px 0 0;
  padding-top: 10px;
}


.myShadow{
  box-shadow: 2px 2px 4px 10px rgb(3, 52, 3,0.6), 3px 3px 5px 5px rgba(236, 177, 84, 0.5);
}
