

<div class="border me-3 mb-4 " [ngClass]="checked?'border-success border-4 myShadow bg-success':'border-dark-subtle border-1 shadow-sm'">
  <div class=" selectHeader">
    <div class="form-check fs-3">
    <input class="form-check-input bg-success-subtle" type="checkbox" [checked]="checked" name="checked" [(ngModel)]="checked" id="choice">
    <label  class="form-check-label text-success-emphasis fw-bold fs-5" for="choice">Sélectionner</label>
    </div>
  </div>
  <div class="candidate-card">
  <img src="{{urlImg}}" alt="">
  <section>
    <p><b>Candidat: </b>{{candidate}}</p>
    <p><b>Parti: </b>{{party}}</p>
    <section class="float-end" [hidden]="!checked">
      <button class="btn fs-3" (click)="sponsored()">Parrainer</button>
    </section>
  </section>
  </div>
</div>
