<div class="container">

  <div class="modal-header">
    <h3>Nos Coordonnées</h3>
  </div>
  <hr>
  <div class="card-group row">
    <div class="col-6 card">
      <div class="card-body p-3">
        <div class="row">
          <i class="fa-brands fa-angular"></i>: {{phone1}}
        </div>
        <div class="row">
          tel2: {{phone2}}
        </div>
        <div class="row">
          email: {{email}}
        </div>
        <div class="row">
          <div class="row">Réseaux Sociaux</div>

        </div>
      </div>
    </div>
    <div class="col-6 card">
      <div class="card-body">

        <address>
          Addresse: {{address}}
        </address>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.68339993948!2d-17.4499164!3d14.6739001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1725b5e364ceb%3A0x1bf40dd17329e076!2sDirection%20G%C3%A9n%C3%A9rale%20des%20%C3%89lections!5e0!3m2!1sfr!2ssn!4v1738460308258!5m2!1sfr!2ssn" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

          </div>
  </div>



  <div class="row mb-3 mt-3">
    <div class="card">

      <div class="card-header">
        <h3>Nous Contactez?</h3>
      </div>

      <div class="card-body">

          <form>
            <div class="form-group mb-3">
              <label for="" class="form-label">Votre Nom & Prénom(s)</label>
              <input type="text" name="" id="" class="form-control">
            </div>

            <div class="form-group mb-3">
              <label for="" class="form-label">Votre Contact: Adresse email ou Téléphone</label>
              <input type="email" placeholder="Adresse email" name="" id="" class="form-control mb-2" >
              <input type="text" placeholder="Numéro de Téléphone" name="" id="" class="form-control">
            </div>

            <div class="form-group mb-3">
              <label for="" class="form-label">Votre Message</label>
              <textarea name="" id="" class="form-control" placeholder="Message..."></textarea>
            </div>
            <button class="form-control btn btn-success" type="submit">Envoyer</button>
          </form>

      </div>

    </div>
  </div>


</div>
