.myContainer{
  padding: 0.5em;
  div h4{
    width: 100%;
    background-color: #7eb575;
    background: linear-gradient(to left, whitesmoke, #7eb575);
    border-left: 3px double #033403;
    padding: 0.1em 0.3em;
  }
}

nav{
  background-color: rgba(0, 100, 0, 0.6);
  background: linear-gradient(to right, rgba(245, 245, 245, 0.68), rgba(126, 181, 117, 0.73));
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 100, 0, 0.6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1em;
}

nav ul{
  display: flex;
  list-style: none;
  height: 100%;

  padding: 0 0.5em;
}

nav ul li{
  margin-left: 1em;
}

nav ul li a{
  text-decoration: none;
  color: #010d01;
  font-size: 1.25em;
  height: 100%;
  padding: 0.25em;
}
nav ul li a:hover{
  text-decoration: none;
  background-color: #010d01;
  color: white;
  border-radius: 15px;
}
